@font-face {
  font-weight: 400;
  font-family: "Ubuntu";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Ubuntu";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Ubuntu";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff");
}


